<div style="width:100%; color: #000000; width:100%;">  
  <%= "Please note the following login details of your PGtracker" %><br/><br/>
  <b>Screen Name: </b><%= @login %>
  <br/><br/>
  <b>Password: </b><%= @password %>
  <br/><br/>
  <%= "Please login into #{@url} and change your password" %>
  <br/><br/>
  <%= render :partial => 'user_mailer/footer' %>
</div>